.Navbar{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100vw;
    height: 80px;
    font-weight: bold;
    font-size: 18px;
}



.link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-left: 2vw;
    cursor: pointer;
    width: 100vw;

}
a{
    color: white;
}
a:Link{
    text-decoration: none;
}

.link2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 2vw;
    cursor: pointer;
    margin-top: 60vh;
    padding: 20px;
    width: 100vw;
    height: 50vh;
    position: absolute;
    background-color: green;
    background-color: rgba(26, 25, 25, 0.3);
}
.login{
    /* margin-right: 2vw; */
    margin-left: 20vw;
    
}

.logo img{
    width: 100px;
    height: 85px;
    background-color: black;
    margin-left: 1vw;
}
li a{
    color: white;
    text-decoration: none;
}
.iconbar{
    display: none;
}


@media only screen and (max-width : 480px) {
      
        .link{
            display: none;  
        }
        .logo img{
            width: 100px;
            height: 85px;
            background-color: black;
            
        }
        .login{
            /* display: none; */
        }
        .iconbar{
            margin-right: 50px;
            display: block;
            font-size: 30px;
        }
        .iconbar2{
            margin-right: 50px;
            display: none;
            font-size: 30px; 
        }
}