.Trainer{
    background-color: #383737;
    height: 95vh;
}
.hader{
    text-align: center;
    margin-top: 0px;
}
.hader h3:nth-child(1){
    color: white;
    padding-top: 40px;
     
 }
.hader h3:nth-child(2){
   color: green;
   margin-top: -20px;
}
.hader p{
    width: 40vw;
    margin-left: 30%;
    margin-top: -10px;
}
.carts{
    display: flex;
    
    width: 70vw;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.carts::-webkit-scrollbar {
    display: none;
}

.cartdiv{
    display: flex;
    margin-left: 80px;
}
.leftbtn{
    background-color:rgba(117, 117, 114, 0.1);
    color: white;
    margin-left: 50px;
    margin-top: 150px;
    height: 50px;
    
}
.rightbtn{
    background-color:rgba(117, 117, 114, 0.1);
    color: white;
    height: 50px;
    margin-top: 150px;

}