.Singin{
    text-align: center;
}
.singinbtn{
   
        padding: 10px 20px;
        background-color: #4caf50;
        color: white;
        border: none;
        cursor: pointer;
        height: 45px;
        width: 276px;
        border-radius: 0px;
       
}
.newUsers p{
    color: black;
    margin-left: -80px;
    font-size: 14px;
}
