.About{
    /* display: flex; */
    width: 100vw;
}
.div1{
    width: 100vw;
    height: 70vh;
    margin-top: 60px;
    display: flex;
    align-items: center; 
    
}

.videoSection1{
    width: 40vw;
    /* height: 100%; */
}

.aboutSection1{
    width: 60vw;
    height: 100vh;
    margin-left: 10vw;
    margin-top: 50vh;
    padding-right: 10vw;
}
.aboutSection1 p{
    color: black;
    margin-left: 0px;
}
iframe{
    padding-left: 50px;
    padding-top: 50px;
    width:36vw;
    height:45vh
}
.div2{
    width: 100vw;
    height: 70vh;
    /* position: absolute; */
    display: flex;
    align-items: center;
}

.videoSection2{
    width: 50%;
    height: 100%;
}
.videoSection2 iframe{
    padding-top: 50px;
}
.aboutSection2{
    width: 60vw;
    height: 100vh;
    margin-left: 10vw;
    margin-top: 50vh;
    padding-right: 10vw;
}
.aboutSection2 p{
    color: black;
    margin-left: 0px;
}

@media  only screen and (max-width : 480px) {
    .About{
        display: flex;
        flex-direction: column;
        width: 100vw;
    }
    .div1{
        display: flex;
        flex-direction: column;
        
    }
    .videoSection1{
       
        width: 100vw;
    }
    iframe{
        padding-left: 5vw;
        /* padding-top: 50px; */
        width: 90vw;
        height:45vh;   
    }
    .aboutSection1{
        width: 90vw;
        height: 100vh;
        margin-left: 0vw;
        margin-top: 0vh;
        text-align: center;
        padding-right: 0vw;
    }
    .aboutSection1 p{
        color: black;
        margin-left: 0px;
        width: 90vw;
    }
    .div2{
        margin-top: 30vw;
        width: 100vw;
        height: 80vh;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .aboutSection2{
        width: 90vw;
        height: 25vh;
        margin-top: 0vh;
        margin-left: 0px;
        
        
    }

    .videoSection2{
        width: 100vw;
        margin-top: 0px;
        height: 40vh;
    }
    iframe{
        padding-left: 5vw;
        /* padding-top: 50px; */
        width: 90vw;
        height:45vh; 
        
    }
}
