.Footer{
    height: 50vh;
    width: 100vw;
    display: flex;
    padding-top: 15vh;
    background-color: #230715 ;
    color: white;
    font-size: 18px;
}


.div1{
    width: 40vw;
    padding-left: 1vw;
}

.div2{
    width: 15vw;
}

.div3{
    width: 15vw;
}
.div4{
    width: 15vw;  
}
p{
    cursor: pointer;
}
.icondiv{
    padding-left: 3vw;
    font-size: 30px;
    color: rgb(190, 77, 77);
    display: flex;
    gap: 2vw;
    margin-top: 10vh;
}
.icondiv a{
    color: rgb(190, 77, 77);
}

